sipXconfig/web/src/org/sipfoundry/sipxconfig/api/sipxconfig.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  - NOTES: After editing this file, run "ant wsdl" target and hit f5 in eclipse
  -->
<definitions name="ConfigService"
	targetNamespace="urn:ConfigService" 
	xmlns:tns="urn:ConfigService" 
	xmlns:xsd1="urn:sipxconfig.xsd" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<types>
		<!-- NOTE: qualify w/xsd:, SOAP4R doesn't support switching namespaces -->
		<xsd:schema targetNamespace="urn:ConfigService">
			<!-- business objects -->
			<xsd:complexType name="user">
				<xsd:all>
					<xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="pin" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</xsd:all>
		    </xsd:complexType>				
    		<!-- api support -->
            <xsd:element name="addUser">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="user" type="tns:user" maxOccurs="1" minOccurs="1"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>

    <!-- U S E R   S E R V I C E -->
	<message name="addUserResponse">
	</message>
	<message name="addUserRequest">
		<part element="tns:addUser" name="addUser"/>
	</message>

	<portType name="UserService">
		<operation name="addUser">
			<input message="tns:addUserRequest"/>
			<output message="tns:addUserResponse"/>
		</operation>
	</portType>

	<binding name="UserServiceSoapBinding" type="tns:UserService">
		<soap:binding style="document"/>
		<!-- 
		  - TODO: Make this soap comment to gets in API docs
		  -
		  - Any change to users gets replicated in batches to sipx family 
		  - of servers asynchronously.  Changes to phones does not happen
		  - automatically so you will need to explicity send profiles to
		  - rellevant phones.
		  -->
		<operation name="addUser">			
 			<input>
				<soap:body use="literal" namespace="urn:ConfigService" />
			</input>			
			<output>
				<soap:body use="literal" namespace="urn:ConfigService"/>
			</output>			
			<soap:operation soapAction=""></soap:operation>			
		</operation>
	</binding>

    <!-- T E S T  S E R V I C E -->	
	<message name="resetUserServiceResponse">
	</message>
	<message name="resetUserServiceRequest">
	</message>

	<portType name="TestService">
		<operation name="resetUserService">
			<input message="tns:resetUserServiceRequest"/>
			<output message="tns:resetUserServiceResponse"/>
		</operation>
	</portType>
	
	<binding name="TestServiceSoapBinding" type="tns:TestService">
		<soap:binding style="document"/>
		<operation name="resetUserService">			
 			<input name="resetUserServiceRequest">
				<soap:body use="literal" namespace="urn:TestService" />
			</input>			
			<output name="resetUserServiceResponse">
				<soap:body use="literal" namespace="urn:TestService"/>
			</output>			
			<soap:operation soapAction=""></soap:operation>			
		</operation>
	</binding>	
		
    <!-- S E R V I C E S -->	
	<service name="ConfigImplService">
		<port name="UserService" binding="tns:UserServiceSoapBinding">
			<soap:address 
				location="http://localhost:9999/sipxconfig/services/UserService"/>
		</port>
		<port name="TestService" binding="tns:TestServiceSoapBinding">
			<soap:address 
				location="http://localhost:9999/sipxconfig/services/TestService"/>
		</port>
	</service>
	
</definitions>