sipXconfig/web/src/org/sipfoundry/sipxconfig/api/sipxconfig.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  - NOTES: 
  -  o After editing this file, run "ant wsdl" target and hit f5 in eclipse on
  -    web project
  -->
<definitions name="ConfigService"
  targetNamespace="urn:ConfigService" 
  xmlns:tns="urn:ConfigService" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  
  <types>
    <xsd:schema targetNamespace="urn:ConfigService">

      <!-- B U S I N E S S  O B J E C T S -->
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="pintoken" type="xsd:string" nillable="true" maxOccurs="1"/>
          <xsd:element name="lastName" type="xsd:string" nillable="true" maxOccurs="1"/>
          <xsd:element name="firstName" type="xsd:string" nillable="true" maxOccurs="1"/>
          <xsd:element name="sipPassword" type="xsd:string" nillable="true" maxOccurs="1"/>
          <xsd:element name="aliases" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="groups" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        </xsd:complexType>
      <xsd:complexType name="ArrayOfUser">
        <xsd:sequence>
          <xsd:element name="user" type="tns:User" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        </xsd:complexType>
      <xsd:complexType name="Phone">
        <xsd:sequence>
          <xsd:element name="serialNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="modelId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="description" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="groups" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="lines" type="tns:Line" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        </xsd:complexType>        
      <xsd:complexType name="ArrayOfPhone">
        <xsd:sequence>
          <xsd:element name="user" type="tns:Phone" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        </xsd:complexType>
      <xsd:complexType name="Property">
        <xsd:all>
          <xsd:element name="property" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="value" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>          
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PhoneSearch">
        <xsd:sequence>
          <xsd:element name="bySerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="byGroup" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UserSearch">
        <xsd:sequence>
          <xsd:element name="byUserName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="byFuzzyUserNameOrAlias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="byGroup" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
       <xsd:complexType name="Line">
         <xsd:sequence>
             <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
       </xsd:complexType>
      <xsd:complexType name="ParkOrbit">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="extension" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="description" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="enabled" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="music" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        </xsd:complexType>
      <xsd:complexType name="ArrayOfParkOrbit">
        <xsd:sequence>
          <xsd:element name="parkOrbit" type="tns:ParkOrbit" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- P A R K   O R B I T -->
      <xsd:element name="GetParkOrbitsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parkOrbits" type="tns:ArrayOfParkOrbit" minOccurs="1" maxOccurs="1"/>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddParkOrbit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parkOrbit" type="tns:ParkOrbit" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- P H O N E -->
      <xsd:element name="FindPhoneResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="phones" type="tns:ArrayOfPhone" minOccurs="1" maxOccurs="1"/>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddPhone">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="phone" type="tns:Phone" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindPhone">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="search" type="tns:PhoneSearch" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
        </xsd:element>
      <xsd:element name="AdminPhone">
        <xsd:complexType>
          <xsd:sequence>
              <xsd:element name="search" type="tns:PhoneSearch" minOccurs="1" maxOccurs="1"/>
             <xsd:element name="edit" type="tns:Property" maxOccurs="unbounded"/>
            <xsd:element name="deletePhone" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="addGroup" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
             <xsd:element name="removeGroup" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
             <xsd:element name="addLine" type="tns:Line" nillable="true" minOccurs="0" maxOccurs="1"/>
             <xsd:element name="removeLine" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="generateProfiles" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="restart" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
        </xsd:element>      
      
      <!-- U S E R -->
      <xsd:element name="FindUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="users" type="tns:ArrayOfUser" minOccurs="1" maxOccurs="1"/>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddUser">
         <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="tns:User" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="pin" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AdminUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="search" type="tns:UserSearch" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="edit" type="tns:Property" maxOccurs="unbounded"/>
            <xsd:element name="deleteUser" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="addGroup" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="removeGroup" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
        </xsd:element>    
      <xsd:element name="FindUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="search" type="tns:UserSearch" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- T E S T -->
      <xsd:element name="ResetServices">
        <xsd:complexType>
          <!-- A flag for each service indicating whether it should be reset -->
          <xsd:sequence>
            <xsd:element name="phone" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="user" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="parkOrbit" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>        
    </xsd:schema>
  </types>
  
  <!-- 
    - BOILER PLATE SECTION
    - Much of this section is redundant, cutting and pasting.  Automation is imminent
      -->
  
  <!-- P H O N E  S E R V I C E -->
  <message name="addPhoneResponse"/>
  <message name="addPhoneRequest">
    <part name="addPhone" element="tns:AddPhone"/>
  </message>

  <message name="findPhoneResponse">
    <part name="findPhoneResponse" element="tns:FindPhoneResponse"/>
    </message>
  <message name="findPhoneRequest">
    <part name="findPhone" element="tns:FindPhone"/>
  </message>
  
  <message name="adminPhoneResponse"/>
  <message name="adminPhoneRequest">
    <part name="adminPhone" element="tns:AdminPhone"/>
  </message>

  <portType name="PhoneService">
    <documentation> 
      Any change to phones requires generating profiles to get phone 
      to update. See adminPhone.
    </documentation>
    <operation name="addPhone">
      <input message="tns:addPhoneRequest"/>
      <output message="tns:addPhoneResponse"/>
    </operation>
    <operation name="findPhone">
      <input message="tns:findPhoneRequest"/>
      <output message="tns:findPhoneResponse"/>
    </operation>
    <operation name="adminPhone">
      <input message="tns:adminPhoneRequest"/>
      <output message="tns:adminPhoneResponse"/>
    </operation>
  </portType>  

  <binding name="PhoneServiceSoapBinding" type="tns:PhoneService">
    <soap:binding style="document"/>
    <operation name="addPhone">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>      
    </operation>    
    <operation name="findPhone">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>            
    </operation>
    <operation name="adminPhone">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>            
    </operation>
  </binding>

    <!-- U S E R   S E R V I C E -->
  <message name="addUserResponse"/>
  <message name="addUserRequest">
    <part name="addUser" element="tns:AddUser"/>
  </message>

  <message name="findUserResponse">
    <part name="findUserResponse" element="tns:FindUserResponse"/>
    </message>
  <message name="findUserRequest">
    <part name="findUser" element="tns:FindUser"/>
  </message>

  <message name="adminUserResponse"/>
  <message name="adminUserRequest">
    <part name="adminUser" element="tns:AdminUser"/>
  </message>
  
  <portType name="UserService">
    <documentation> 
      Any change to users updates all servers automatically and asynchronously.
    </documentation>
    <operation name="addUser">
      <input message="tns:addUserRequest"/>
      <output message="tns:addUserResponse"/>
    </operation>
    <operation name="findUser">
      <input message="tns:findUserRequest"/>
      <output message="tns:findUserResponse"/>
    </operation>
    <operation name="adminUser">
      <input message="tns:adminUserRequest"/>
      <output message="tns:adminUserResponse"/>
    </operation>
  </portType>

  <binding name="UserServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document"/>
    <operation name="addUser">      
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>      
    </operation>
    <operation name="findUser">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>            
    </operation>
    <operation name="adminUser">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>            
    </operation>
  </binding>

  <!-- P A R K   O R B I T   S E R V I C E -->
  <message name="addParkOrbitResponse"/>
  <message name="addParkOrbitRequest">
    <part name="addParkOrbit" element="tns:AddParkOrbit"/>
  </message>
  <message name="getParkOrbitsResponse">
    <part name="getParkOrbits" element="tns:GetParkOrbitsResponse"/>
  </message>
  <message name="getParkOrbitsRequest"/>
  <portType name="ParkOrbitService">
    <documentation> 
      Any change to park orbits updates all servers automatically and asynchronously.
    </documentation>
    <operation name="addParkOrbit">
      <input message="tns:addParkOrbitRequest"/>
      <output message="tns:addParkOrbitResponse"/>
    </operation>
    <operation name="getParkOrbits">
      <input message="tns:getParkOrbitsRequest"/>
      <output message="tns:getParkOrbitsResponse"/>
    </operation>
  </portType>

  <binding name="ParkOrbitServiceSoapBinding" type="tns:ParkOrbitService">
    <soap:binding style="document"/>
    <operation name="addParkOrbit">
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>      
    </operation>    
    <operation name="getParkOrbits">      
       <input>
        <soap:body use="literal" namespace="urn:ConfigService" />
      </input>      
      <output>
        <soap:body use="literal" namespace="urn:ConfigService"/>
      </output>      
      <soap:operation soapAction=""/>      
    </operation>
  </binding>

    <!-- T E S T  S E R V I C E -->  
  <message name="resetServicesResponse"/>
  <message name="resetServicesRequest">
    <part name="resetServices" element="tns:ResetServices"/>
  </message>

  <portType name="TestService">
    <operation name="resetServices">
      <input message="tns:resetServicesRequest"/>
      <output message="tns:resetServicesResponse"/>
    </operation>
  </portType>
  
  <binding name="TestServiceSoapBinding" type="tns:TestService">
    <soap:binding style="document"/>
    <operation name="resetServices">      
       <input name="resetServicesRequest">
        <soap:body use="literal" namespace="urn:TestService"/>
      </input>      
      <output name="resetServicesResponse">
        <soap:body use="literal" namespace="urn:TestService"/>
      </output>      
      <soap:operation soapAction=""/>      
    </operation>
  </binding>  
    
    <!-- S E R V I C E S -->  
  <service name="ConfigImplService">
    <port name="PhoneService" binding="tns:PhoneServiceSoapBinding">
      <soap:address 
        location="http://localhost:9999/sipxconfig/services/PhoneService"/>
    </port>
    <port name="UserService" binding="tns:UserServiceSoapBinding">
      <soap:address 
        location="http://localhost:9999/sipxconfig/services/UserService"/>
    </port>
    <port name="ParkOrbitService" binding="tns:ParkOrbitServiceSoapBinding">
      <soap:address 
        location="http://localhost:9999/sipxconfig/services/ParkOrbitService"/>
    </port>
    <port name="TestService" binding="tns:TestServiceSoapBinding">
      <soap:address 
        location="http://localhost:9999/sipxconfig/services/TestService"/>
    </port>
  </service>
  
</definitions>
