sipXconfig/neoconf/test/org/sipfoundry/sipxconfig/sipxconfig-db.dtd

<!ELEMENT dataset (
    attendant_menu_item*,
    auto_attendant*,
    backup_plan*,
    call_group*,
    custom_dialing_rule*,
    custom_dialing_rule_permission*,
    daily_backup_schedule*,
    dial_pattern*,
    dial_plan*,
    dialing_rule*,
    dialing_rule_gateway*,
    emergency_dialing_rule*,
    gateway*,
    group_storage*,
    group_weight*,
    initialization_task*,
    internal_dialing_rule*,
    international_dialing_rule*,
    job*,
    line*,
    line_group*,
    local_dialing_rule*,
    long_distance_dialing_rule*,
    meetme_bridge*,
    meetme_conference*,
    meetme_participant*,
    park_orbit*,
    patch*,
    phone*,
    phone_group*,
    ring*,
    setting_value*,
    user_group*,
    user_ring*,
    users*,
    value_storage*,
    version_history*)>

<!ELEMENT attendant_menu_item EMPTY>
<!ATTLIST attendant_menu_item
    auto_attendant_id CDATA #REQUIRED
    action CDATA #IMPLIED
    parameter CDATA #IMPLIED
    dialpad_key CDATA #REQUIRED
>

<!ELEMENT auto_attendant EMPTY>
<!ATTLIST auto_attendant
    auto_attendant_id CDATA #REQUIRED
    name CDATA #IMPLIED
    extension CDATA #IMPLIED
    prompt CDATA #IMPLIED
    system_id CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT backup_plan EMPTY>
<!ATTLIST backup_plan
    backup_plan_id CDATA #REQUIRED
    limited_count CDATA #IMPLIED
    configs CDATA #IMPLIED
    voicemail CDATA #IMPLIED
    dbase CDATA #IMPLIED
>

<!ELEMENT call_group EMPTY>
<!ATTLIST call_group
    call_group_id CDATA #REQUIRED
    enabled CDATA #IMPLIED
    name CDATA #IMPLIED
    extension CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT custom_dialing_rule EMPTY>
<!ATTLIST custom_dialing_rule
    custom_dialing_rule_id CDATA #REQUIRED
    call_pattern_digits CDATA #IMPLIED
    call_pattern_prefix CDATA #IMPLIED
>

<!ELEMENT custom_dialing_rule_permission EMPTY>
<!ATTLIST custom_dialing_rule_permission
    custom_dialing_rule_id CDATA #REQUIRED
    permission CDATA #IMPLIED
>

<!ELEMENT daily_backup_schedule EMPTY>
<!ATTLIST daily_backup_schedule
    daily_backup_schedule_id CDATA #REQUIRED
    enabled CDATA #IMPLIED
    time_of_day CDATA #IMPLIED
    scheduled_day CDATA #IMPLIED
    backup_plan_id CDATA #IMPLIED
>

<!ELEMENT dial_pattern EMPTY>
<!ATTLIST dial_pattern
    custom_dialing_rule_id CDATA #REQUIRED
    element_prefix CDATA #IMPLIED
    element_digits CDATA #IMPLIED
    index CDATA #REQUIRED
>

<!ELEMENT dial_plan EMPTY>
<!ATTLIST dial_plan
    dial_plan_id CDATA #REQUIRED
>

<!ELEMENT dialing_rule EMPTY>
<!ATTLIST dialing_rule
    dialing_rule_id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    enabled CDATA #IMPLIED
    position CDATA #IMPLIED
    dial_plan_id CDATA #IMPLIED
>

<!ELEMENT dialing_rule_gateway EMPTY>
<!ATTLIST dialing_rule_gateway
    dialing_rule_id CDATA #REQUIRED
    gateway_id CDATA #REQUIRED
    index CDATA #REQUIRED
>

<!ELEMENT emergency_dialing_rule EMPTY>
<!ATTLIST emergency_dialing_rule
    emergency_dialing_rule_id CDATA #REQUIRED
    optional_prefix CDATA #IMPLIED
    emergency_number CDATA #IMPLIED
    use_media_server CDATA #IMPLIED
>

<!ELEMENT gateway EMPTY>
<!ATTLIST gateway
    gateway_id CDATA #REQUIRED
    factory_id CDATA #REQUIRED
    name CDATA #IMPLIED
    address CDATA #IMPLIED
    description CDATA #IMPLIED
    serial_number CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
>

<!ELEMENT group_storage EMPTY>
<!ATTLIST group_storage
    group_id CDATA #REQUIRED
    name CDATA #IMPLIED
    description CDATA #IMPLIED
    resource CDATA #IMPLIED
    weight CDATA #IMPLIED
>

<!ELEMENT group_weight EMPTY>
<!ATTLIST group_weight
    weight CDATA #REQUIRED
>

<!ELEMENT initialization_task EMPTY>
<!ATTLIST initialization_task
    name CDATA #REQUIRED
>

<!ELEMENT internal_dialing_rule EMPTY>
<!ATTLIST internal_dialing_rule
    internal_dialing_rule_id CDATA #REQUIRED
    auto_attendant_id CDATA #IMPLIED
    local_extension_len CDATA #IMPLIED
    voice_mail CDATA #IMPLIED
    voice_mail_prefix CDATA #IMPLIED
    aa_aliases CDATA #IMPLIED
>

<!ELEMENT international_dialing_rule EMPTY>
<!ATTLIST international_dialing_rule
    international_dialing_rule_id CDATA #REQUIRED
    international_prefix CDATA #IMPLIED
>

<!ELEMENT job EMPTY>
<!ATTLIST job
    job_id CDATA #REQUIRED
    type CDATA #IMPLIED
    status CDATA #IMPLIED
    start_time_string CDATA #IMPLIED
    details CDATA #IMPLIED
    progress CDATA #IMPLIED
    exception_message CDATA #IMPLIED
>

<!ELEMENT line EMPTY>
<!ATTLIST line
    line_id CDATA #REQUIRED
    phone_id CDATA #REQUIRED
    position CDATA #IMPLIED
    user_id CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
>

<!ELEMENT line_group EMPTY>
<!ATTLIST line_group
    line_id CDATA #REQUIRED
    group_id CDATA #REQUIRED
>

<!ELEMENT local_dialing_rule EMPTY>
<!ATTLIST local_dialing_rule
    local_dialing_rule_id CDATA #REQUIRED
    external_len CDATA #IMPLIED
    pstn_prefix CDATA #IMPLIED
>

<!ELEMENT long_distance_dialing_rule EMPTY>
<!ATTLIST long_distance_dialing_rule
    international_dialing_rule_id CDATA #REQUIRED
    area_codes CDATA #IMPLIED
    external_len CDATA #IMPLIED
    long_distance_prefix CDATA #IMPLIED
    permission CDATA #IMPLIED
    pstn_prefix CDATA #IMPLIED
>

<!ELEMENT meetme_bridge EMPTY>
<!ATTLIST meetme_bridge
    meetme_bridge_id CDATA #REQUIRED
    enabled CDATA #IMPLIED
    name CDATA #REQUIRED
    host CDATA #IMPLIED
    port CDATA #IMPLIED
    description CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
>

<!ELEMENT meetme_conference EMPTY>
<!ATTLIST meetme_conference
    meetme_conference_id CDATA #REQUIRED
    enabled CDATA #IMPLIED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    extension CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
    meetme_bridge_id CDATA #REQUIRED
>

<!ELEMENT meetme_participant EMPTY>
<!ATTLIST meetme_participant
    meetme_participant_id CDATA #REQUIRED
    enabled CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
    user_id CDATA #REQUIRED
    meetme_conference_id CDATA #REQUIRED
>

<!ELEMENT park_orbit EMPTY>
<!ATTLIST park_orbit
    park_orbit_id CDATA #REQUIRED
    orbit_type CDATA #REQUIRED
    music CDATA #IMPLIED
    enabled CDATA #IMPLIED
    name CDATA #IMPLIED
    extension CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT patch EMPTY>
<!ATTLIST patch
    name CDATA #REQUIRED
>

<!ELEMENT phone EMPTY>
<!ATTLIST phone
    phone_id CDATA #REQUIRED
    name CDATA #IMPLIED
    serial_number CDATA #IMPLIED
    bean_id CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
    model_id CDATA #IMPLIED
>

<!ELEMENT phone_group EMPTY>
<!ATTLIST phone_group
    phone_id CDATA #REQUIRED
    group_id CDATA #REQUIRED
>

<!ELEMENT ring EMPTY>
<!ATTLIST ring
    ring_id CDATA #REQUIRED
    number CDATA #IMPLIED
    position CDATA #IMPLIED
    expiration CDATA #IMPLIED
    ring_type CDATA #IMPLIED
    user_id CDATA #REQUIRED
>

<!ELEMENT setting_value EMPTY>
<!ATTLIST setting_value
    value_storage_id CDATA #REQUIRED
    value CDATA #REQUIRED
    path CDATA #REQUIRED
>

<!ELEMENT user_group EMPTY>
<!ATTLIST user_group
    user_id CDATA #REQUIRED
    group_id CDATA #REQUIRED
>

<!ELEMENT user_ring EMPTY>
<!ATTLIST user_ring
    user_ring_id CDATA #REQUIRED
    position CDATA #IMPLIED
    expiration CDATA #IMPLIED
    ring_type CDATA #IMPLIED
    call_group_id CDATA #REQUIRED
    user_id CDATA #REQUIRED
>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_id CDATA #REQUIRED
    first_name CDATA #IMPLIED
    pintoken CDATA #IMPLIED
    sip_password CDATA #IMPLIED
    last_name CDATA #IMPLIED
    user_name CDATA #IMPLIED
    extension CDATA #IMPLIED
    value_storage_id CDATA #IMPLIED
>

<!ELEMENT value_storage EMPTY>
<!ATTLIST value_storage
    value_storage_id CDATA #REQUIRED
>

<!ELEMENT version_history EMPTY>
<!ATTLIST version_history
    version CDATA #REQUIRED
    applied CDATA #REQUIRED
>

