sipXconfig/neoconf/test/org/sipfoundry/sipxconfig/sipxconfig-db.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (
    admin_group_assignments*,
    admin_groups*,
    aliases*,
    app_ag_assoc*,
    application_groups*,
    applications*,
    config_sets*,
    core_software_details*,
    cs_profile_details*,
    cs_property_permissions*,
    endpoint*,
    extension_pools*,
    extensions*,
    jobs*,
    line*,
    log_phone_cs_assoc*,
    logical_phones*,
    manufacturers*,
    organizations*,
    patches*,
    phone_characteristics*,
    phone_groups*,
    phone_type_csd_assoc*,
    phone_types*,
    png_cs_assoc*,
    profile_data*,
    ref_config_sets*,
    ref_phone_characteristics*,
    ref_properties*,
    roles*,
    setting*,
    setting_map*,
    storage*,
    test_data*,
    ug_cs_assoc*,
    user_admin_assoc*,
    user_ag_assoc*,
    user_app_ref_assoc*,
    user_cs_assoc*,
    user_group_ag_assoc*,
    user_groups*,
    user_roles*,
    users*,
    versions*)>

<!ELEMENT admin_group_assignments EMPTY>
<!ATTLIST admin_group_assignments
    id CDATA #REQUIRED
    adm_grps_id CDATA #REQUIRED
    usrs_id CDATA #IMPLIED
    log_pn_id CDATA #IMPLIED
    ug_id CDATA #IMPLIED
    pg_id CDATA #IMPLIED
>

<!ELEMENT admin_groups EMPTY>
<!ATTLIST admin_groups
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    org_id_1 CDATA #REQUIRED
>

<!ELEMENT aliases EMPTY>
<!ATTLIST aliases
    alias CDATA #REQUIRED
    user_id CDATA #REQUIRED
    alias_order CDATA #REQUIRED
>

<!ELEMENT app_ag_assoc EMPTY>
<!ATTLIST app_ag_assoc
    apps_id CDATA #REQUIRED
    ag_id CDATA #REQUIRED
>

<!ELEMENT application_groups EMPTY>
<!ATTLIST application_groups
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    org_id CDATA #REQUIRED
>

<!ELEMENT applications EMPTY>
<!ATTLIST applications
    id CDATA #REQUIRED
    pt_id CDATA #REQUIRED
    ref_prop_id CDATA #REQUIRED
    url CDATA #REQUIRED
    org_id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT config_sets EMPTY>
<!ATTLIST config_sets
    id CDATA #REQUIRED
    rcs_id CDATA #REQUIRED
    profile_type CDATA #REQUIRED
    content CDATA #REQUIRED
>

<!ELEMENT core_software_details EMPTY>
<!ATTLIST core_software_details
    id CDATA #REQUIRED
    installed_date CDATA #REQUIRED
    description CDATA #IMPLIED
    version CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT cs_profile_details EMPTY>
<!ATTLIST cs_profile_details
    id CDATA #REQUIRED
    projection_class CDATA #REQUIRED
    csd_id CDATA #REQUIRED
    file_name CDATA #REQUIRED
    render_class CDATA #REQUIRED
    profile_type CDATA #REQUIRED
    xslt_url CDATA #REQUIRED
>

<!ELEMENT cs_property_permissions EMPTY>
<!ATTLIST cs_property_permissions
    ref_prop_id CDATA #REQUIRED
    rcs_id CDATA #REQUIRED
    is_read_only CDATA #REQUIRED
    is_final CDATA #REQUIRED
>

<!ELEMENT endpoint EMPTY>
<!ATTLIST endpoint
    endpoint_id CDATA #REQUIRED
    serial_number CDATA #REQUIRED
    name CDATA #IMPLIED
    phone_id CDATA #REQUIRED
    storage_id CDATA #IMPLIED
>

<!ELEMENT extension_pools EMPTY>
<!ATTLIST extension_pools
    name CDATA #REQUIRED
    org_id CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT extensions EMPTY>
<!ATTLIST extensions
    extension_number CDATA #REQUIRED
    ext_pool_id CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT jobs EMPTY>
<!ATTLIST jobs
    id CDATA #REQUIRED
    type CDATA #REQUIRED
    status CDATA #IMPLIED
    start_time CDATA #REQUIRED
    details CDATA #IMPLIED
    progress CDATA #IMPLIED
    exception_message CDATA #IMPLIED
>

<!ELEMENT line EMPTY>
<!ATTLIST line
    line_id CDATA #REQUIRED
    position CDATA #REQUIRED
    user_id CDATA #REQUIRED
    storage_id CDATA #IMPLIED
    endpoint_id CDATA #REQUIRED
>

<!ELEMENT log_phone_cs_assoc EMPTY>
<!ATTLIST log_phone_cs_assoc
    cs_id CDATA #REQUIRED
    log_pn_id CDATA #REQUIRED
>

<!ELEMENT logical_phones EMPTY>
<!ATTLIST logical_phones
    id CDATA #REQUIRED
    short_name CDATA #REQUIRED
    csd_id CDATA #REQUIRED
    org_id CDATA #REQUIRED
    rcs_id CDATA #REQUIRED
    pg_id CDATA #IMPLIED
    usrs_id CDATA #IMPLIED
    description CDATA #IMPLIED
    pt_id CDATA #REQUIRED
    serial_number CDATA #IMPLIED
>

<!ELEMENT manufacturers EMPTY>
<!ATTLIST manufacturers
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT organizations EMPTY>
<!ATTLIST organizations
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    parent_id CDATA #IMPLIED
    dns_domain CDATA #IMPLIED
    stereotype CDATA #REQUIRED
>

<!ELEMENT patches EMPTY>
<!ATTLIST patches
    patch_number CDATA #REQUIRED
    date_applied CDATA #REQUIRED
    status CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT phone_characteristics EMPTY>
<!ATTLIST phone_characteristics
    rp_chars_characteristic CDATA #REQUIRED
    value CDATA #REQUIRED
    pt_id CDATA #IMPLIED
    apps_id CDATA #IMPLIED
>

<!ELEMENT phone_groups EMPTY>
<!ATTLIST phone_groups
    id CDATA #REQUIRED
    rcs_id CDATA #REQUIRED
    org_id CDATA #REQUIRED
    name CDATA #REQUIRED
    parent_pg_id CDATA #IMPLIED
>

<!ELEMENT phone_type_csd_assoc EMPTY>
<!ATTLIST phone_type_csd_assoc
    csd_id CDATA #REQUIRED
    pt_id CDATA #REQUIRED
>

<!ELEMENT phone_types EMPTY>
<!ATTLIST phone_types
    id CDATA #REQUIRED
    model CDATA #REQUIRED
    manu_id CDATA #REQUIRED
>

<!ELEMENT png_cs_assoc EMPTY>
<!ATTLIST png_cs_assoc
    cs_id CDATA #REQUIRED
    pg_id CDATA #REQUIRED
>

<!ELEMENT profile_data EMPTY>
<!ATTLIST profile_data
    log_pn_id CDATA #REQUIRED
    type CDATA #REQUIRED
    seq_number CDATA #REQUIRED
>

<!ELEMENT ref_config_sets EMPTY>
<!ATTLIST ref_config_sets
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    org_id CDATA #REQUIRED
>

<!ELEMENT ref_phone_characteristics EMPTY>
<!ATTLIST ref_phone_characteristics
    characteristic CDATA #REQUIRED
>

<!ELEMENT ref_properties EMPTY>
<!ATTLIST ref_properties
    id CDATA #REQUIRED
    content CDATA #REQUIRED
    profile_type CDATA #REQUIRED
    name CDATA #REQUIRED
    code CDATA #REQUIRED
>

<!ELEMENT roles EMPTY>
<!ATTLIST roles
    name CDATA #REQUIRED
>

<!ELEMENT setting EMPTY>
<!ATTLIST setting
    storage_id CDATA #REQUIRED
    path CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!ELEMENT setting_map EMPTY>
<!ATTLIST setting_map
    setting_map_id CDATA #REQUIRED
>

<!ELEMENT storage EMPTY>
<!ATTLIST storage
    storage_id CDATA #REQUIRED
>

<!ELEMENT test_data EMPTY>
<!ATTLIST test_data
    label CDATA #REQUIRED
    record_id CDATA #REQUIRED
>

<!ELEMENT ug_cs_assoc EMPTY>
<!ATTLIST ug_cs_assoc
    ug_id CDATA #REQUIRED
    cs_id CDATA #REQUIRED
>

<!ELEMENT user_admin_assoc EMPTY>
<!ATTLIST user_admin_assoc
    usrs_id CDATA #REQUIRED
    adm_grps_id CDATA #REQUIRED
>

<!ELEMENT user_ag_assoc EMPTY>
<!ATTLIST user_ag_assoc
    usrs_id CDATA #REQUIRED
    ag_id CDATA #REQUIRED
>

<!ELEMENT user_app_ref_assoc EMPTY>
<!ATTLIST user_app_ref_assoc
    usrs_id CDATA #REQUIRED
    cs_id CDATA #IMPLIED
>

<!ELEMENT user_cs_assoc EMPTY>
<!ATTLIST user_cs_assoc
    usrs_id CDATA #REQUIRED
    cs_id CDATA #REQUIRED
>

<!ELEMENT user_group_ag_assoc EMPTY>
<!ATTLIST user_group_ag_assoc
    ug_id CDATA #REQUIRED
    ag_id CDATA #REQUIRED
>

<!ELEMENT user_groups EMPTY>
<!ATTLIST user_groups
    id CDATA #REQUIRED
    rcs_id CDATA #REQUIRED
    org_id CDATA #REQUIRED
    name CDATA #REQUIRED
    parent_ug_id CDATA #IMPLIED
>

<!ELEMENT user_roles EMPTY>
<!ATTLIST user_roles
    usrs_id CDATA #REQUIRED
    roles_name CDATA #REQUIRED
>

<!ELEMENT users EMPTY>
<!ATTLIST users
    id CDATA #REQUIRED
    first_name CDATA #IMPLIED
    org_id CDATA #REQUIRED
    password CDATA #IMPLIED
    ug_id CDATA #IMPLIED
    rcs_id CDATA #IMPLIED
    last_name CDATA #IMPLIED
    display_id CDATA #REQUIRED
    extension CDATA #IMPLIED
    profile_encryption_key CDATA #IMPLIED
>

<!ELEMENT versions EMPTY>
<!ATTLIST versions
    applied CDATA #REQUIRED
    version CDATA #REQUIRED
>

