web/src/org/sipfoundry/sipxconfig/api/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UserService"
	targetNamespace="urn:UserService" 
	xmlns:tns="urn:UserService" 
	xmlns:xsd1="urn:sipxconfig.xsd" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<types>
		<!-- NOTE: qualify w/xsd:, SOAP4R doesn't support switching namespaces -->
		<xsd:schema targetNamespace="urn:UserService">
            <xsd:element name="addUser">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="pin" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:all>
			    </xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>

	<message name="addUserResponse">
	</message>
	<message name="addUserRequest">
		<part element="tns:addUser" name="addUser"/>
	</message>

	<portType name="UserService">
		<operation name="addUser">
			<input message="tns:addUserRequest"/>
			<output message="tns:addUserResponse"/>
		</operation>
	</portType>
	
	<binding name="UserServiceSoapBinding" type="tns:UserService">
		<soap:binding style="document"/>
		<!-- 
		  - TODO: Make this soap comment to gets in API docs
		  -
		  - Any change to users gets replicated in batches to sipx family 
		  - of servers asynchronously.  Changes to phones does not happen
		  - automatically so you will need to explicity send profiles to
		  - rellevant phones.
		  -->
		<operation name="addUser">			
 			<input>
				<soap:body use="literal" namespace="urn:UserService" />
			</input>			
			<output>
				<soap:body use="literal" namespace="urn:UserService"/>
			</output>			
			<soap:operation soapAction=""></soap:operation>			
		</operation>
	</binding>
	
	<service name="UserServiceImplService">
		<port name="UserService" binding="tns:UserServiceSoapBinding">
			<soap:address 
				location="http://localhost:9999/sipxconfig/services/UserService"/>
		</port>
	</service>
	
</definitions>